body {
 
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
  padding: 20px;
   background-color: chocolate;
}

input[type="text"] {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  background: white;
  padding: 10px;
  border-radius: 8px;
  width: fit-content;
}